@import "tailwindcss";

@import "./fonts.css";

@plugin "./plugins/button.ts";
@plugin "./plugins/form.ts";

@theme {
    --color-grey: oklch(0.7921 0 0);
    --color-dark-1: oklch(0.1776 0 0);
    --color-dark-2: oklch(0.4349 0 0);
    --color-dark-3: oklch(0.2645 0 0);
    --color-dark-4: oklch(0.2134 0 0);
    --color-dark-5: oklch(0.4532 0 0);
    --color-light-1: oklch(0.8975 0 0);

    --color-primary: oklch(0.4806 0.1898 24.89);

    --shadow-aside: 0px 0px 20px 0px rgba(103, 103, 103, 0.2509803922) inset;
    --shadow-aside-social: 0px 0px 15px 0px rgba(221, 221, 221, 0.1490196078) inset;

    --blur-0.5xs: 6px;

    --text-6.5xl: 4rem;

    --font-rajdhani: "Rajdhani";
}

@utility container {
    @apply mx-auto px-5;
}